<div class="container portfolio">
    <div class="portfolio__header">
        <h2 class="section__title">
            A Portfolio Of Our Work
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ab, reiciendis, modi inventore voluptatem
            repudiandae asperiores, accusamus nemo doloribus at ipsum aliquam deleniti ullam atque soluta exercitationem
            tenetur est explicabo?
        </p>
    </div>
    <div class="portfolio__list">
        <ul>
            <li class="portfolio--btn" *ngFor="let btn of listButtons">{{ btn.title }}</li>
        </ul>
    </div>
    <div class="portfolio__gallery">
        <mat-grid-list cols="3" >
            <mat-grid-tile *ngFor="let item of portfolioGallery">
                <img [src]="item.image">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>