@import '../../../assets/styles/varabiles';

:host {
    display: block;
    background-color: $gray;
}

.mat-icon {
    width: 100%;
    height: 60px;
    font-size: 3.5rem;
}

.our-mission {
    &__heading {
        margin-bottom: .25rem;
    }
}