<div class="our-mision container section">
    <div class="row">
        <div class="our-mision__body section__body col-md-6">
            <p class="section__subtitle">Our mission</p>
            <h2 class="section__header">
                Create Your Way To Success
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda distinctio voluptates possimus sit
                quaerat
                aspernatur recusandae! Temporibus ab ut iste laudantium cumque molestiae, omnis molestias quidem,
                laboriosam
                cupiditate beatae quos?</p>
            <div class="our-mission__box d-flex align-items-center" *ngFor="let box of boxes">
                <div class="our-mission__icons d-flex align-items-center me-3">
                    <mat-icon aria-hidden="false" aria-label="">
                        {{ box.icon }}
                    </mat-icon>
                </div>
                <div class="our-mission__aside">
                    <h4 class="our-mission__heading">{{ box.title }}</h4>
                    <p>{{ box.desc }}</p>
                </div>
            </div>
        </div>
        <div class="our-mision__images col-md-6">
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows"
                    [style.background-image]="'url(' + card.image + ')'" [style.background-position]="'center'"
                    [style.background-size]="'cover'">
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>