:host {
    display: block;
    background: #f2f2f2;
}

.mat-mdc-list {
    background: #ffffff;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem 0.5rem 0 0;
}

.pricing {
    &__list {
        &--price {
            font-size: 3rem;
            font-weight: 900;
            color: #07727e;
        }
    }
}

@media (min-width: 992px) {
    .mat-mdc-list {
        padding-block: 2rem;
        width: 30%;
    }
}