<app-header></app-header>

<app-services id="services"></app-services>

<app-about-us id="about"></app-about-us>

<app-our-mision></app-our-mision>

<app-portfolio id="portfolio" class="section"></app-portfolio>

<app-baner class="baner"></app-baner>

<app-team class="our-team section"></app-team>

<app-pricing id="pricing" class="pricing section"></app-pricing>

<app-partners></app-partners>

<app-testimonials id="testimonials"></app-testimonials>

<app-faq id="faq"></app-faq>

<app-contact id="contact" class="section"></app-contact>

<app-footer></app-footer>