<div class="about" fxLayoutAlign="space-between center">
    <div class="about__images" fxFlex.md="45" fxFlex.lg="45" fxFlex.xl="45">
        <img src="../../../assets/images/about-1.jpg" alt="About">
        <img src="../../../assets/images/about-2.jpg" alt="About">
    </div>
    <div class="about__body" fxFlex.md="45" fxFlex.lg="45" fxFlex.xl="45">
        <p class="section__subtitle">About Us</p>
        <h2 class="section__header">
            The #1 Company On IT Solutions & Development Field
        </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi soluta voluptatum dolorem, unde iste expedita ipsam vero eius harum repudiandae dicta voluptate culpa, voluptates tenetur repellendus rerum iure similique reprehenderit?</p>
        <div class="counter" fxLayout="row wrap">
            <div class="counter__body" *ngFor="let count of counters">
                <p class="counter__number" fxFlex.md="50" fxFlex.lg="50">
                    +{{ count.number }}
                </p>
                <span class="counter__copy">
                    {{ count.desc }}
                </span>
            </div>
        </div>
        <button mat-raised-button color="primary">Learn More</button>
    </div>
</div>