<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
        <button routerLink="/" mat-button class="example-icon">
            <img src="../../../assets/images/logo.svg" alt="">
        </button>
        <div class="menu-list" fxLayout.xs="column">
            <a mat-button routerLink="/">Home</a>
            <a mat-button routerLink="/" fragment="services">Services</a>
            <a mat-button routerLink="/" fragment="about">About</a>
            <a mat-button routerLink="/" fragment="portfolio">Portfolio</a>
            <a mat-button routerLink="/" fragment="pricing">Pricing</a>
            <a mat-button routerLink="/" fragment="testimonials">Testimonials</a>
            <a mat-button routerLink="/" fragment="faq">FAQ</a>
            <a mat-button routerLink="/" fragment="contact">Contact Us</a>
            <button mat-raised-button>Subscribe</button>
        </div>
    </div>
</mat-toolbar>