@import '../../../assets/styles/varabiles';

.mat-mdc-card {
    background-color: transparent;
    border: none;
    box-shadow: none;

    >*+* {
        margin-top: .5rem;
    }
}

.mat-icon {
    width: 3.5rem;
    height: 3.5rem;
}