@import '../../../assets/styles/varabiles';

ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
}

.social-list {
    &__out-team {
        i {
            font-size: 1.2rem;
            color: $primary;
        }
    }

    &__portfolio {
        i {
            font-size: 1.5rem;
            color: $white;
        }
    }
}