<mat-card class="example-card">
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-footer class="d-flex align-items-center">
        <ng-content select="app-avatar"></ng-content>
        <div class="ps-3">
            <mat-card-title>
                <ng-content select="person"></ng-content>
            </mat-card-title>
            <mat-card-subtitle>
                <ng-content select="position"></ng-content>
            </mat-card-subtitle>
        </div>
    </mat-card-footer>
</mat-card>