.mat-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.material-icons {
    font-size: 3.5rem;
    font-weight: 500;
    // background: -webkit-linear-gradient(#e66465, #9198e5);
    background: -webkit-linear-gradient(#d25152, #6c76e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}