.section {
    padding-block: clamp(2.5rem, 1.0000rem + 6.6667vw, 6rem);

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.1;
    }

    &__subtitle {
        position: relative;
        font-size: 1rem;
        font-weight: 800;
        font-style: italic;
        line-height: 1;
        letter-spacing: 1px;
        text-align: left;
        text-transform: capitalize;
        color: $accent;

        &:after {
            content: "";
            position: absolute;
            width: 50px;
            top: 50%;
            transform: translateY(-50%);
            background: $accent;
            height: 2px;
            margin-left: .75rem;
        }
    }

    &__body {
        >*+* {
            margin-top: clamp(1rem, 0.0769rem + 2.5641vw, 2rem);
        }
    }

    &__copy {
        font-size: 1.25rem;
        line-height: 1.6;
        margin: 1.5rem auto;

        @media screen and (min-width: 992px) {
            width: 60%;
        }

        &:after {
            content: '\2043 \2043 \2043';
            display: block;
            font-size: 4rem;
            margin-top: .75rem;
            line-height: 1;
            color: $accent;
        }
    }
}

